.main-title {
  font-size: 150px;
}

.index-content{
  padding-top: 10px;
}

.about {
  font-size: 50px;
  color: #009edb
}

.experience {
  margin-top: 20px;
  font-size: 25px;
}

.sub-title {
  font-size: 25px;
  color:  #009edb;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;
}

.title-footer {
  flex-grow: 1;
  text-align: center;
  border-right: solid 3px #009edb;
}

.copyright {
  padding-left: 20px;
  padding-bottom: 8px;
  flex-grow: 2;
}

@media screen and (max-width: 1000px) {
  .main-title {
    font-size: 60px;
  }
  .about{
    font-size: 40px;
  }
  .experience, .sub-title{
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .main-title {
    font-size: 50px;
  }

  .about{
    font-size: 30px;
  }
  .experience, .sub-title{
    font-size: 25px;
  }
  .content-row {
    padding-left: 0px;
  }
  .vertical-alignment {
    padding-top: 0px;
    text-align: center;
  }
}
